body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(230, 245, 255);
  font-size: 150%;
}

body > * {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content 1fr;
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 150%;
  }

  .layout {
    display: block;
    min-width: 400px;
  }
}

@media only screen and (min-width: 450px) {
  body {
    font-size: 150%;
  }

  .layout-rwd > * {
    grid-column: 1 / 13;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
  body {
    font-size: 2.5vw;
  }

  .layout-rwd > * {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 220%;
  }
}

.header-of-section {
  display: block;
  color: #4d5d85;
  font-weight: 400;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header-of-section::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  width: 150px;
  padding-top: 20px;
  border-top: 5px solid #4d5d85;
  border-radius: 10% 10% 10% 10%;
}

/**************************

    Navigation Section

***************************/

  .navbar-section {
    list-style-type: none;
    overflow: hidden;
    float: right;
    margin-bottom: 8vh;
  }

  .navbar-section a {
    float: right;
    font-weight: bold; 
    color: #6b5dff;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
  }

  .navbar-section a::after {
    content: "";
    display: block;
    margin: 5px auto;
    width: 0px;
    border-top: 5px solid #9a93e1;
    border-radius: 5px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }

  .navbar-section a:hover::after {
    width: 100%;
  }

/**************************

    Profile Header Section

***************************/

  .profile-heading-section > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-heading-section img {
    margin-top: 50px;
    height: 152px;
    width: 152px;
    border-radius: 50%;
  }
  .profile-heading-section h1 {
    font-size: 2.10em;
    font-weight: 400;
    color: rgb(131, 175, 229);
    margin: 0px;
    padding: 0px;
  }

  .profile-heading-section h4 {
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    color: #4d5d85;
    margin: 0px;
    padding: 0px;
  }

  .profile-heading-section p {
    color: #4d5d85;
    font-style: italic;
    margin-top: 30px;
    width: 95%;
  }

/**************************

    Skills Section 
    
**************************/

  .skills-section {
    margin-bottom: 5vh;
  }

  .skills-section__layout {
    display: grid;
    grid-template-areas: "technologies languages";
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 450px) {
    .skills-section__layout {
      display: grid;
      grid-template-areas: "technologies" "languages";
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (min-width: 450px) {
    .skills-section__layout {
      display: grid;
      grid-template-areas: "technologies" "languages";
      grid-template-columns: 1fr;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 800px) {
    .skills-section__layout {
      display: grid;
      grid-template-areas: "technologies languages";
      grid-template-columns: 1fr 1fr;
    }
  } 

  .skills-section__listing h3 {
    color: #4d5d85;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
  }

  .skills-section__listing h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 25%;
    padding-top: 20px;
    border-top: 5px solid #4d5d85;
    border-radius: 10% 10% 10% 10%;
  }

  .skills-section__listing ul {
    display: grid;
    grid-template-areas: "one two three";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(max-content, 30px);
    color: #4d5d85;
    list-style-type: none;
    padding: 0;
  }

/**************************

    Project Section 
    
**************************/

  .project-section {
    margin-bottom: 15vh;
  }

  .project-card {
    display: grid;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    border-width: 2px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
    color: black;
    padding: 20px;
    margin-bottom: 50px;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "image text"
                         "image link";
    text-align: center;
  }

  /* On mouse-over, add a deeper shadow */
  .project-card:hover {
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
  }

  .project-card img {
    width: 200px;
    height: 100%;
    margin-left: auto;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25%;
    grid-area: image;
  }

  .project-card-text {
    grid-area: text;
    text-align: left;
  }

  .project-card-link {
    margin-right: 20px;
    margin-top: 20px;
    white-space: nowrap;
    display: inline-block;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 10px;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .15s ease;
    font-size: .9em;
    font-weight: 600;
    box-sizing: border-box;
    background: #9a93e1;
    color: #fff;
    grid-area: link;
    /* width: max-content;*/
    min-width: 100px;
  }

  .project-card-link:hover {
    background:#b5affb;
    text-decoration: none;
    transition: .1s ease-in-out
  }

/**************************

      Footer Section

***************************/

  .footer-section--display {
    display: grid;
    grid-template-areas: "email linkedin github";
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 25vh;
  }

  .footer-section--display a {
    display: block;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-section--display a::after {
    content: "";
    display: block;
    margin: 5px auto;
    width: 0px;
    border-top: 5px solid #9a93e1;
    border-radius: 5px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }

  .footer-section--display a:hover::after {
    width: 50%;
  }

  /*
  .navtab-buttons {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .navtab-buttons button {
    width: 50%;
    border: green;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    transition: 0.3s;
    color: black;
    background-color: grey;
  }

  .navtab-buttons button:hover {
    background-color: black !important;
    color: white;
  }
  */
/*******************

    Navigation Panel

********************/

/*
  .navtab-panel {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
*/
